body{
    display: grid;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}
.pai{
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 30px;
    gap: 30px;
    max-width: 1200px;
    margin: 30px auto;

}



.sacola{
    background-color: rgb(218, 218, 14);
    width: 230px;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
}

.produto{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    background-color: rgb(158, 157, 157);
    justify-content: center;
    width: 230px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

}

.item img{
    width: 50px;
}

label{
    display: block;
    margin-bottom: 10px;
    
}

input{
    text-align: center;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.recom{
    display: flex;
    gap: 40px;

    
}

.pre img{
    width: 50px;
    border-radius: 10px;
    
}

.pre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
    background-color: rgb(167, 167, 167);
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    align-items: center;
   

    
}

.segunda{
    padding: 20px;
    border-radius: 10px;
}

button{
    border-radius: 5px;
    background-color: rgb(218, 218, 14);
    padding: 5px;
}

.Cep{
    margin-bottom: 20px;
    margin-top: 10px;
}

.resumo{
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    
}

.botao{

    padding: 10px;
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color:#ED7615;
    max-width: 200px;
    margin-bottom: 10px;

}
.pag img{
    width:300px ;
}
footer {
    background-color: #000;
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
}
#footer-logo h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#contact-info p {
    margin: 5px 0;
}

#payment-info img {
    max-width: 5000px;
    margin: 0 5px;
}