
body{
    display: grid;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
body a{
    text-decoration: none;
    color: black;
}


nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22806B;
}

#cima{
    display: flex;
    gap: 30px;

}
#baixo{
    align-items: flex-start;
    margin-bottom: 15px;
    margin-top: 10px;
}


#form-pesquisa{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
#botao-pesquisa{
    border: solid 0px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    background-color: #D9D9D9;

}
#botao-pesquisa img{
    width: 20px;
    height: 20px;
    display: flex;
}

#botao-pesquisa:hover{
    background-color: gray;
    border-radius: 13px;
    transition: 0.5s;
    cursor: pointer;

}

#pesquisa{
    background-color: #D9D9D9;
    border-radius: 15px;
    border: solid 0px;
    width: 400px;
    height: 25px;
    
}

#categorias{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-radius: 13px;
}
#categorias button{
    background-color: #D9D9D9;
    font-size: 15px;
    border: solid 0px;
    border-radius: 13px;
    padding: 10px;
    width: 130px;
}

#categorias :hover{
    background-color: gray;
    border-radius: 13px;
    transition: 0.5s;
    cursor: pointer;
}


.user{
    display: flex;
    align-items:end;
    }
#usuario-carrinho{
    display: flex;
    gap: 100px;
    margin-right: 20px;
    align-items: center;
    }

#usuario-carrinho img{
    width: 50px;
}

#logo-and-home{
    display: flex;
    gap: 50px;
    margin-left: 20px;
    align-items: center;
}

.Home{
    max-width: 40px;
}

#carrosel{
    width: 400px;
    justify-self: center;
   
}



#topicos-produtos{
    display: flex;
    flex-direction: column;
    margin: 40px;
    justify-self: center;
    gap: 30px;    
    
}

#topicos-produtos h2{
    font-weight: bold;
}

.Fileira{
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}


.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #D9D9D9;
    width: 200px;
    height: auto;
    padding-top: 20px;
    border-radius: 30px;
}

.produto img{
    width: 150px;
    border-radius: 30px;

}
.produto button{
    margin-bottom:15px ;
    border-radius: 15px;
    border: 0px;
    background-color: #A89F1D;
}


footer {
    background-color: #000;
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
}
#footer-logo h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
#contact-info p {
    margin: 5px 0;
}

#payment-info img {
    max-width: 5000px;
    margin: 0 5px;
}




.product-container {
    display: flex;
    align-items: center;
    margin: 20px auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex: 1; /* Para que o conteúdo flexível ocupe todo o espaço disponível */
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    color: #e44d26;
    margin-bottom: 20px;
}

.product-buttons {
    display: flex;
    gap: 10px;
}

.buy-btn,
.add-to-cart-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.buy-btn {
    background-color: #A89F1D;
}

.add-to-cart-btn {
    background-color: #A89F1D;
}
.product-rating {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.star {
    font-size: 20px;
    color: gold;
}